body {
    background: whitesmoke;
}
#content {
    background: white;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}
#SiteNavBar.navbar {
    margin-bottom: 0;
}
#GridSystem .row {
    border: 1px solid orange;
}
#GridSystem .row > div {
    border: 1px solid grey;
}

/*##### MEDIA QUERIES ###### */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices  */
@media (min-width: 768px) {

}

/* Medium devices */
@media (min-width: 992px) {

}

/* Large devices  */
@media (min-width: 1200px) {

}